
body {
  //margin: 20px; 
}
//head##
//.SOLLogo{
  //margin-top: 1em;
  //margin-left: 1em;
  //max-width: 40%;
//}

//photo page##
.photo-title{
  margin-left: 1em;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  //padding: 1em;
  //margin-left: 15px;
  float: right;
}
a {
  color: #181818 !important;
}
a:hover{
  color: #181818 !important;
}
.navlinks a {
  margin-right: 35px;
  text-decoration: none;
  font-family: monospace;
  font-size: 29px;
}

.prevnext-container{
  text-align: center;
}
.prevnext{
  color: #00BFFF !important;
  text-decoration-line: underline !important;
}

footer {
  text-align: center;
  margin: 20px 0;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

@media screen and (orientation: portrait) { //phone
.photo{         
    max-width: 100%;
 }
 .SOLLogo {
  //margin-top: 1em;
  //margin-left: 1em;
  max-width: 40%;
}
 
}

@media screen and (orientation: landscape) { // pc
  .SOLLogo {
    //margin-top: 1em;
    //margin-left: 1em;
    max-width: 50%;
    margin:1em;
  }
  .both {
    margin: 1em;
    //display: flex;
    //max-width: 100%;
    //overflow: hidden;
  } 
  .photo{         
    max-width: 100%;
    height: auto;
    display: flex;
    //margin: 1em;
 }
 .description{
  flex: 1;
  padding-top: 1em;
  padding-bottom: 1em;
  //margin-left: 1em;
 }

 body {
  background-image: url('https://live.staticflickr.com/65535/54677725557_812c4c817b_b.jpg');
  background-size:  cover; /* Cover the entire viewport */
  background-position-x: center; /* Center the background image */
  background-attachment: fixed;  
  
 }
 .body-container {  
  background-color: rgba(255, 255, 255, 0.7);
  //min-height: 100vh;  
  
  //margin:3em;
  //display: flex; /* Use flexbox */
  //justify-content: center; /* Center horizontally */
  //align-items: center; /* Center vertically */
 }
 .header-container {
  background-color: rgba(255, 255, 255);
 }
}
