<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body>
    <main class="main" aria-label="Content">
      <div class="header-container">
        <div class="logo">
          <a href="\index.html"><img src="/assets/images/SOL-Logo.png" class="SOLLogo"></a>
        </div>
        <div class="navlinks">
          <a href="\rolls">Rolls</a>
          <a href="">Blog</a>
        </div>
      </div>
      <div class="container body-container">
        {{ content }}
      </div>

      <footer>
        2025 Suburbs of London
      </footer>
    
    </main>
      
  </body>
  

</html>
