---
layout: default
---
{% assign roll = site.rolls | where: "title", page.roll | first %}
<div>
    <h2 class="h2">
      <a class="breadcrumbs" href="/rolls">Rolls</a>
      <a class="breadcrumbs" href="/rolls/{{page.roll}}"> / {{page.roll | replace: '-', ' ' | capitalize }}</a>
       / {{ page.title | replace: '-', ' ' | capitalize }}
    </h2>  
    <div class="both">       
      <a data-flickr-embed="false" href="{{roll.flickr-href}}" title="{{page.title}}">
        <img src="{{page.flickr-img}}" class="photo" alt="{{page.title}}"/>
    </a>
    <div class="prevnext-container">
      <a class="prevnext" href="{{ page.previous.url }}">[Previous]</a>
      <a class="prevnext" href="{{ page.next.url }}">[Next]</a>
    </div>
      <p class = "description">{{ page.description }}</p>
    </div> 
  </div>
  